@media screen and (max-width: 5000px) {

  header h1 {
    color: #1528b0;
    max-width: 35%;
    float: left; 
  }

  header ul {
    max-width: 60%; 
  }

  header ul li {
    display: inline;
    color: #095b4a; 
  }

  header ul li a {
    text-decoration: none;
    color: #4a7247; 
  }

  header ul li a:hover {
    text-decoration: underline;
    color: #08ae9f;
  }
}

@media screen and (max-width: 700px) {
  
  header h1 {
    max-width: 100%;
    float: none;
  }

  header ul {
    max-width: 100%;
    display: block;
  }
}