body{
	background-color: #333;
	margin:0;
	padding:0;
	font-size:13px;
}

#wrapper {
	background-color: #FFF;
	margin:20px auto;
	padding:0;
	width:80%;
}

.column {
	width:27.33333333%;
	background-color: blue;
	color: #CCC;
	font-size: 2em;
	margin:1.5%;
	padding:1.5%;
	float:left;
}

/* CLEARING FIXES
=================================*/
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; } 

@media screen and (max-width: 900px) {
	
	#wrapper {
		padding: 3%;
	}

	.column {
		background-color: green;
		color: white;
		font-size: 1.3em;
		font-family: georgia;
		float: none;
		width: 93%;
	}

	h1 {
		font-style: italic;
		font-size: 1.6em;
		font-family: arial;
	}
}	

@media screen and (max-width: 400px) {

	#wrapper {
		padding: 1%;
		margin: 0;	
	}

	.column {
		background-color: #fff;
		color: black;
		font-size: 1.7em;
		font-family: arial;
		width: 97%;
	}

	h1 {
		text-decoration: underline;
		font-size: 2em;
		font-family: times;
	}
}