
*.scssc

SP16_!DM6660Hennessy,Molly/week_08/assignment8/dev/sass/_desktop.scss

SP16_!DM6660Hennessy,Molly/week_08/assignment8/dev/sass/_desktop.scss

SP16_!DM6660Hennessy,Molly/week_08/assignment8/dev/sass/_mobil.scss

SP16_!DM6660Hennessy,Molly/week_08/assignment8/dev/sass/_tablet.scss
